body{
background-image:url('https://image.tmdb.org/t/p/original/s3Yzg6e0jHdT3XbaF50WVhS7QBP.jpg');
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
background-position:right bottom, left top;
background-position:cover;
}